<template>
  <td>
    <input type="text" :placeholder="dataCell.value" v-model="placeholder" @blur="onBlur" @focus="onFocus">
  </td>
</template>
<style>
  td {
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    min-width: 40px;
  }


  td > input {
    line-height: 40px;
    text-align: center;
  }
</style>
<script src="./cell.js"></script>
