<template />
<script lang="babel">
  import * as p from './parser.test'

  export default {
    name: 'test',
    created () {
      for (let test in p) {
        console.group('LEXER');
        console.log(test);
        p[test]();
        console.log(p[test].name, 'done');
        console.groupEnd();
      }
    }
  }
</script>
