<template lang="html">
  <div id="app">
    <test />
    <table>
      <tr>
        <td v-pre ></td>
        <td v-for="letter in alphabet">{{ letter }}</td>
      </tr>

      <tr v-for="i in 20">
        <td>{{ i }}</td>
        <cell v-for="letter in alphabet" :id="letter + i"></cell>
      </tr>
    </table>
  </div>
</template>

<script lang="babel" src="./table.js"></script>
